
/*fonts*/
@font-face {
		font-family: Bascula;
		src: url(fonts/BasculaCollege.ttf);
}

@font-face {
	
		font-family: Hacked;
		src: url(fonts/HACKED.ttf);
}





/*boxes*/
header {
		font-family:Hacked;
		font-size: 30px;
		margin:0 0 0 0;
		border:0 0 0 0;
		text-align: center;
		text-color: #000000;
}

body{ 
		left: 0;
		padding: 0;
		margin:0;
		background-image: url("res/background-img.png");
		background-color:rgba(0,0,0,.5);	
}

footer{
		clear: left;
		color:orange;
		background-color:rgba(200,2,255,.1);
		font-family: Microsoft JhengHei Light;
}

h1 {
		width: 100%;
		display:inline-block;
		margin:0 5px 5px 0;
		font-family: Microsoft JhengHei Light;
		font-weight: bold;
}





/*classes*/
.ib{
		float:left;
}

.card {
		overflow: auto;
		width: 250px;
		background-color:rgba(200,255,20,.1);
		display:block;
		position:static;
		margin:auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		text-align: center;
		font-family: Microsoft JhengHei Light;
}

.p1 {
		overflow: auto;
		color:red;
		display: block;
		text-align:center;
		margin:auto;
		padding:5px;
		min-width:200px;
		max-width:300px;
		background-color:rgba(255, 255, 255, .25);
		font-family: Microsoft JhengHei Light;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p2{
	
		overflow: auto;
		padding: 30px;
		text-align: center;
		line-height:100px;
		height:100px;
		margin-left:auto;
		margin-right:auto;
		display: block;
		position:static;
		background-color:rgba(200, 255, 255, .25);
		font-family: Microsoft JhengHei Light;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p2:hover{
		background-color:rgba(200,255,255,.5);
}



/*nav*/

ul {
		list-style-type: none;
		position: static;
		float: left;
		width: 100%;
		height:44px;
		margin-bottom:5px;
		margin-top:0;
		padding: 0;
		background-color: #d90036;
		font-family: Bascula;
}

li {
		float: left;
}

a {
		display: block;
		padding: 0px;
} 

.active {
		background-color: #8600b3;
}

li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
		background-color: #ff73ff;
}

li.dropdown {
		display: inline-block;
}

.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
}

.dropdown-content a:hover {
		background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
		display: block;
}