
/*fonts*/
@font-face {
		font-family: Bascula;
		src: url(fonts/BasculaCollege.ttf);
}

@font-face {
	
		font-family: Hacked;
		src: url(fonts/HACKED.ttf);
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*boxes*/

header {
		font-family:Hacked;
		font-size: 30px;
		margin:0 0 0 0;
		border:0 0 0 0;
		text-align: center;
		text-color: #000000;
}

body{ 
		left: 0;
		padding: 0;
		margin:0;
		background-image: url("res/background-img.gif") ;	
}

footer{
		clear: left;
		color:orange;
		background-color:rgba(200,2,255,.1);
		font-family: 'PT Sans';
}

h1 {
		width: 100%;
		display:inline-block;
		margin:0 5px 5px 0;
		font-family: 'PT Sans';
		font-weight: bold;
}





/*classes*/

.card {
		overflow: auto;
		width: 250px;
		background-color:rgba(200,255,20,.1);
		display:block;
		position:static;
		margin:auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		text-align: center;
		font-family: 'PT Sans';
}

.p1 {
		overflow: auto;
		color:red;
		display: block;
		float:left;
		text-align:center;
		margin-left:10px;
		padding:5px;
		width:100px;
		background-color:rgba(205, 100, 105, .25);
		font-family: 'PT Sans';
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: 1s ease;
		-webkit-transition: width 2s ease;
}

.p1:hover{
		width:300px;
}

.p2{
	
		overflow: auto;
		padding: 0px;
		text-align: center;
		line-height:100px;
		margin-left:auto;
		margin-right:auto;
		display: block;
		position:static;
		background-color:rgba(190, 245, 245, .25);
		font-family: 'PT Sans';
		box-shadow:inset 0 4px 8px 0 rgba(0, 0, 0, 0.2),inset 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition:.5s;
		-webkit-transition: .5s;
}

.p2:hover{
		background-color:rgba(200,255,255,.6);
}

.p3{
		overflow: auto;
		color:red;
		position:static;
		text-align:center;
		margin-left:10px;
		padding:5px;
		width:100px;
		height:100px;
		background-color:rgba(205, 100, 105, .25);
		font-family: 'PT Sans';
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display:block;
		-webkit-transition: width 1s ease, height 1s ease;
		transition: width 1s ease, height 1s ease;
}

.p3:hover{
		overflow: auto;
		color:red;
		position:static;
		text-align:center;
		margin-left:10px;
		padding:5px;
		width:200px;
		height:50px;
		background-color:rgba(205, 100, 105, .25);
		font-family: 'PT Sans';
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display:block;
}

.p4{
		overflow: auto;
		color:red;
		position:static;
		text-align:center;
		margin-left:10px;
		padding:5px;
		width:100px;
		background-color:rgba(205, 0, 105, .25);
		font-family: 'PT Sans';
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display:block;
}

/*animated button stuff*/
.button {
		font-family: 'PT Sans';
		display: inline-block;
		border-radius: 4px;
		background-color: #f4511e;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 28px;
		padding: 20px;
		width: 200px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
}

.button span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
}

.button span:after {
		content: "»";
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
		font-family: 'PT Sans';
}

.button:hover span {
		padding-right: 25px;
}

.button:hover span:after {
		opacity: 1;
		right: 0;
}





#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border: 16px solid #a8d3f0;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 1.5s linear infinite;
		animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 }
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
	from{ bottom:-100px; opacity:0 }
	to{ bottom:0; opacity:1 }
}

#myDiv {
	display: none;
	text-align: center;
}











/* Responsive Images*/
div.img {
		border: 1px solid #ccc;
}

div.img:hover {
		border: 1px solid #777;
}

div.img img {
		width: 100%;
		height: auto;
}

div.desc {
		padding: 15px;
		text-align: center;
}

* {
		box-sizing: border-box;
}

.responsive {
		padding: 0 6px;
		float: left;
		width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
		content: "";
		display: table;
		clear: both;
}



/*Img Modal*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	font-family: 'PT Sans';
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
	font-family: 'PT Sans';
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
	width: 20px;
	height:20px;
	padding:0px;
	margin:0px;
	line-height:12.5px;
	text-align:center;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
	font-family: 'PT Sans';
	border: 1px white solid;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
	border-color: #bbb;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
	



/*animation*/ 
.a1{
		width: 100px;
		height: 100px;
		background-color: red;
		position: relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
		-webkit-animation-name: example; /* Chrome, Safari, Opera */
		-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
		animation-name: example;
		animation-duration: 4s;
}

.a1:hover{
	
		width: 100px;
		height: 100px;
		background-color: red;
		position: relative;
		-webkit-animation-name: example; /* Chrome, Safari, Opera */
		-webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
		animation-name: example1;
		animation-duration: 4s;
		animation-play-state: initial;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
		0%   {background-color:red; left:0px; top:0px;}
		25%  {background-color:yellow; left:200px; top:0px;}
		50%  {background-color:blue; left:200px; top:200px;}
		75%  {background-color:green; left:0px; top:200px;}
		100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
		0%   {background-color:red; left:0px; top:0px;}
		25%  {background-color:yellow; left:200px; top:0px;}
		50%  {background-color:blue; left:200px; top:200px;}
		75%  {background-color:green; left:0px; top:200px;}
		100% {background-color:red; left:0px; top:0px;}
}

@keyframes example1 {
	to{width:auto;}
}

	
/*nav*/

ul {
		list-style-type: none;
		position: static;
		float: left;
		width: 100%;
		height:44px;
		margin-bottom:5px;
		margin-top:0;
		padding: 0;
		background-color: #d90036;
		font-family: 'PT Sans';
}

li {
		float: left;
}

a {
		display: block;
		padding: 0px;
		transition:.2s;
} 

.active {
		background-color: #8600b3;
}

li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
		background-color: #ff73ff;
}

li.dropdown {
		display: inline-block;
}

.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
}

.dropdown-content a:hover {
		background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
		display: block;
}